@font-face {
    font-family: 'user-name';
    src: url('/src/font/MTO Chancery.ttf');
}

.comment-item-avatar img{
    border-radius: 100%;
    height: 40px;
    margin-left: 15px;
}

#submit-comment{
    width: 107px;
    height: 58px;
    z-index: 2;
    position: absolute;
    padding: 7px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    top: 886px;
    left: 1209px;
    background-color: cornflowerblue;
    border: none;
}

.comment-input{
    width: 74em;
    height: 58px;
    border-radius: 50px;
    border: none;
}

.post-comment{
    width: 100%;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 50px;
}

.Comment{
    width: 1180px;
    height: 330px;
    margin: 0 auto;
    margin-top: 30px;
}

.comment-item{
    display: flex;
    width: 100%;
    margin: 15px 0;
}
.comment-item-avatar{
    width: 5%;
    flex: left 1;
    margin-left: -16px;
}

.comment-item-content{
    width: 100%;
    margin-left: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
}

.comment-item .user-name{
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-left: 1px;
    margin-top: -5px;
}

.comment-item-content p {
    font-size: 14px;
    color: #000;
    margin-left: 1px;
}