.nav-dropdown{
    width: 160px;
    background-color: #000;
    border-radius: 4px;
    box-shadow: 0 0 10px #FF0000;
    position: absolute;
    top: 54px;
    right: 64px;
    display: none;
}
.nav-user:hover .nav-dropdown {
    display: block;
}
.nav-dropdown_list{
    list-style: none;
    padding: 0 20px 12px;
    margin: 0;
}
.nav-dropdown_item {
    text-decoration: none;
    color: #ff0000;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
    display: block;
    margin-top: 12px;
}
.nav-dropdown_list> li:nth-child(1),
.nav-dropdown_list> li:nth-child(2),
.nav-dropdown_list> li:nth-child(3){
    border-bottom: 1px solid rgba(255, 0, 0, 0.2);
}
.nav-dropdown::after{
    content: "";
    border-width: 13px 15px;
    border-style: solid;
    border-color: transparent transparent #000 transparent;
    position: absolute;
    top: -26px;
    right: 12px;
}