
/* loading popup */
.loading-modal{
    display:    block;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(196, 196, 196, 0.4) 
    /* loading logo */
                url('https://i.giphy.com/media/YMM6g7x45coCKdrDoj/giphy.webp') 
                50% 50% 
                no-repeat;
}

*{
    cursor: url('../img/starter-northern-lights-pack-cursor.png'), auto;;
}