
.grid-listbook{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 35px;
    margin: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
.des-into-img{
    position: relative;
    overflow: hidden;
    width: 233px;
    height: 326px;
    border-radius: 20px;
}
.Book-name:hover{
    cursor: pointer;
}
.Book-item{
    position: absolute;
    transition: transform 1s;
    display: inline-block;
}
.Book-item:hover{
    opacity: 0.3;
    transition:opacity 2s;
    overflow: visible;
    -ms-transform: scale(3.5); /* IE 9 */
    -webkit-transform: scale(3.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
.Description-into{
    text-align: justify;
    z-index: -6;
    width: 233px;
    height: 326px;
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
